<div class="container">
  <div class="main-visual col-8 mx-auto">
    <h4 class="py-4 text-center">プロフィール</h4>
    <div class="mb-4 text-center"><%= image_tag @end_user.get_profile_image, size: "140x140",class: "rounded-circle profile-icon" %></div>
    <table class="table">
      <tbody>
        <tr>
          <td><h5>ニックネーム</h5></td>
          <td><h5><%= @end_user.nickname %></h5></td>
        </tr>
        <tr>
          <td><h5>自己紹介</h5></td>
          <td><h5><%= @end_user.introduction %></h5></td>
        </tr>
        <tr>
          <td><h5>フォロー</h5></td>
          <td><h5><%= link_to @end_user.followings.count, public_end_user_followings_path(@end_user) %></h5></td>
        </tr>
        <tr>
          <td><h5>フォロワー</h5></td>
          <td><h5><%= link_to @end_user.followers.count, public_end_user_followers_path(@end_user) %></h5></td>
        </tr>
        <tr>
          <td class="py-4">
            <% if end_user_signed_in? %>
              <% if @end_user == current_end_user %>
                <%= link_to "プロフィールを編集する", edit_public_end_user_path(@end_user), class: "btn btn-info rounded-pill" %>
              <% else %>
                <%= render "public/relationships/btn", end_user: @end_user %>
                <%= link_to "チャット", public_chat_path(@end_user), class: "ml-3 btn btn-info rounded-pill" %>
              <% end %>
            <% end %>
          </td>
          <td class="py-4"><%= link_to "投稿を見る", posts_public_end_user_path(@end_user), class: "btn btn-success rounded-pill float-right" %></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
