<div class="col-12 d-flex flex-wrap justify-content-between">
  <% posts.each do |post| %>
    <div class="col-md-4 py-4 px-2">
      <div class="post py-3">
      <% if post.image.attached? %>
        <%= link_to public_post_path(post), class: "text-dark" do %>
          <p class="image-size text-center"><%= image_tag post.image, class: "col-md-12 mb-4" %></p>
          <h5 class="border-bottom pb-2 pl-4 mb-2"><%= post.title %></h5>
        <% end %>
        <%= render "public/posts/poster", post: post %>
      <% elsif post.video.attached? %>
        <%= link_to public_post_path(post), class: "text-dark" do %>
          <p class="video-size text-center"><%= video_tag rails_blob_path(post.video),size: "200x150", class: "col-md-12 mb-4" %></p>
          <h5 class="border-bottom pb-2 pl-4 mb-2"><%= post.title %></h5>
        <% end %>
        <%= render "public/posts/poster", post: post %>
      <% else %>
        <%= link_to public_post_path(post), class: "text-dark" do %>
          <h5 class="pb-2 pl-4 mb-2"><%= post.title %></h5>
        <% end %>
        <p class="border-bottom pb-2 pl-4 mb-2"><%= post.body %></p>
        <%= render "public/posts/poster", post: post %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>