<table>
  <% post.comments.each do |comment| %>
    <tr>
      <td>
        <%= image_tag comment.end_user.get_profile_image(50, 50),class: "pr-1" %>
        <%= comment.end_user.name %>
      </td>
      <td class="px-4"><%= comment.comment %></td>
      <% if comment.end_user == current_end_user %>
        <td><%= link_to '削除する', public_post_comment_path(comment.post, comment), method: :delete, remote: true,class: "btn btn-sm btn-danger rounded-pill" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<div class="pt-4">
  <%= form_with model: [post, comment], url: public_post_comments_path(post), method: :post, local: false do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "送信", class: "btn btn-sm btn-info rounded-pill" %>
  <% end %>
</div>