<div class="container">
  <h4 class="mb-5">タグ編集</h4>
  <%= render 'layouts/error_message', obj: @tag %>
  <div class="mb-5">
    <%= form_with model: @tag, url: admin_tag_path, method: :patch, class: "d-flex" do |f| %>
      <div class="px-3">タグ名</div>
      <div class="px-3"><%= f.text_field :name %></div>
      <div class="px-3"><%= f.submit '変更を保存', class: "btn btn-info btn-sm rounded-pill" %></div>
    <% end %>
  </div>
  <%= link_to "back", admin_tags_path, class: "text-dark" %>
</div>
