<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>ニックネーム</th>
      <th>自己紹介</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% end_users.each do |end_user| %>
      <tr>
        <td><%= image_tag end_user.get_profile_image, size: "50x50", class: "rounded-circle profile-icon mr-4" %></td>
        <td><%= end_user.name %></td>
        <td><%= end_user.nickname %></td>
        <td><%= end_user.introduction %></td>
        <td><%= link_to 'ユーザーページ', admin_end_user_path(end_user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>