<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <%= link_to root_path do %>
        <h2>BowWow</h2>
      <% end %>
      <ul class="navbar-nav ml-auto">
        <% if end_user_signed_in? %>
        <!--会員ログイン時-->
          <li><%= link_to "マイページ", public_end_user_path(current_end_user.id), class: "btn rounded-pill" %></li>
          <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %></li>
          <li><%= link_to "投稿する", new_public_post_path, class: "btn" %></li>
        <% else %>
        <!--未ログイン時-->
          <li><%= link_to "ログイン", new_end_user_session_path, class: "btn btn-link text-dark" %></li>
          <li><%= link_to "会員登録", new_end_user_registration_path, class: "btn btn-light rounded-pill" %></li>
        <% end %>
      </ul>
    </nav>
    <nav class="navbar navbar-expand-lg">
      <ul class="col-12 navbar-nav mx-auto justify-content-between">
        <li>
          <%= link_to root_path, class: "btn btn-light rounded-pill" do %>
            <i class="fas fa-home"></i>
            ホーム
          <% end %>
        </li>
        <li>
          <%= link_to public_posts_path, class: "btn btn-light rounded-pill" do %>
            <i class="fas fa-dog"></i>
            投稿一覧
          <% end %>
        </li>
        <li>
          <%= link_to public_posts_path, class: "btn btn-light rounded-pill" do %>
            <i class="fas fa-camera-retro"></i>
            写真
          <% end %>
        </li>
        <li>
          <%= link_to public_posts_path, class: "btn btn-light rounded-pill" do %>
            <i class="far fa-play-circle"></i>
            動画
          <% end %>
        </li>
        <li>
          <%= link_to public_posts_path, class: "btn btn-light rounded-pill" do %>
            <i class="far fa-comments"></i>
            相談
          <% end %>
        </li>
        <li>
          <%= link_to public_groups_path, class: "btn btn-light rounded-pill" do %>
            <i class="fas fa-user-friends"></i>
            グループ一覧
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>