<!DOCTYPE html>
<html>
  <head>
    <title>BowWow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
    <!--adminアカウントがログイン時のheader-->
      <%= render 'admin/homes/admin_header' %>
    <% else %>
    <!--ログイン前とend_userログイン時のheader-->
      <%= render 'layouts/header' %>
    <% end %>
    <main class="pt-4 mb-auto">
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
